<table mat-table [dataSource]="items" class="mat-elevation-z8">
   <ng-container matColumnDef="ID">
     <th mat-header-cell *matHeaderCellDef> ID</th>
     <td mat-cell *matCellDef="let item"> {{item.Id}} </td>
   </ng-container>
   <ng-container matColumnDef="Title">
     <th mat-header-cell *matHeaderCellDef> Title </th>
     <td mat-cell *matCellDef="let item"> {{item.Title}} </td>
   </ng-container>
   <ng-container matColumnDef="Issue No">
      <th mat-header-cell *matHeaderCellDef> Issue No </th>
      <td mat-cell *matCellDef="let item"> {{item.IssueNo}} </td>
    </ng-container>
   <ng-container matColumnDef="Description">
     <th mat-header-cell *matHeaderCellDef> Description </th>
     <td mat-cell *matCellDef="let item"> {{item.Description}} </td>
   </ng-container>
   <ng-container matColumnDef="Publisher Name">
     <th mat-header-cell *matHeaderCellDef> Publisher Name </th>
     <td mat-cell *matCellDef="let item"> {{item.Publisher.Name}} </td>
   </ng-container>
   
   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 </table>